
/* .list-group-item:active{
    background: #03f33f;
} */

.btn {
    border: 2px black;
    margin-left: 2px;
}
.btn:active {
    background-color: rgb(223, 219, 219);
}

.product-card {
    margin-top: 40px;
}

.btn-outline-primary[value="Favorite"]:focus{
    background-color: pink;
}

.btn-outline-primary[value="Add to Cart"]:focus{
    background-color: yellow;
}