<div class="row">
    <div class="col-xs-10">
      <app-cart-edit></app-cart-edit>
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
        >
        Cart Total : {{cartTotal}}
      
        Cart: {{cartProducts}}
        </a>
        <!-- <app-product
        *ngFor="let item of products"
        [cartProducts]= "item"
        ></app-product> -->
       
          
      </ul>
    </div>
  </div>

  <!-- *ngFor="let product of items" -->